{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1>Judge {{ judge.name }}</h1>
  {% if posts %}
    {% for post in posts %}
      {% include '_post.html' %}
    {% endfor %}
  {% else %}
    <p>There currently isn't any information available for Judge {{ judge }}. {% if current_user.judge != judge %}Ask their bailiff to add something! {% else %}Consider adding something in the form below!{% endif %}
  {% endif %}
  {% if form %}
    {{ wtf.quick_form(form) }}
  {% endif %}
{% endblock %}