{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <table class="table table-hover">
    <tr>
      <td width="200px"><img src="{{ judge.avatar() }}" width="100"></td>
      <td><h1>Judge {{ judge.name }}</h1></td>
    </tr>
  </table>
  {% if ( (current_user.judge == judge.name) or
          (current_user.permissions > 0) ) %}
    {{ wtf.quick_form(form) }}
  {% endif %}
  {% if posts %}
    {% for category in categories %}
      {% if category.id in cats %}
      <h2>{{ category.name }}</h2><br>
        {% for post in posts %}
          {% if post.category_id == category.id %}
            {% include '_post.html' %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% else %}
    <br>
    <p>There currently isn't any information available for Judge {{ judge.name }}. {% if current_user.judge != judge.name %}Ask their bailiff to add something! {% else %}Consider adding something in the form above!{% endif %}
  {% endif %}
{% endblock %}